@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color:   hsl(225, 100%, 94%);
}
.container {
    height: 80%;
    width: 23%;
    background-color: hsl(225, 100%, 98%);
    margin: 50px auto;
    border-radius: 15px;
    
}
img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.flex-items2 img {
    width: 40px;
    height: 40px;
}
.flex-items2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -10px;
}
.flex-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lower-text {
    padding: 10px;
    text-align: center;
    position: relative;
}
.price {
    position: absolute;
    bottom: 100px;
    left: 100px;
}
button {
    background-color:  hsl(245, 75%, 52%);
    width: 90%;
    border: 1px solid  hsl(245, 75%, 52%);
    height: 40px;
    color: white;
    border-radius: 10px;
}
.buttons {
    margin-top: 15px;
}
p , h5, span{
    color: hsl(224, 23%, 55%);
}
h4 {
    line-height: 20px;
    font-size: 14px;
}
.buttons h5:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}
button:hover {
    background-color: hsl(224, 23%, 55%);
    border: 1px solid hsl(224, 23%, 55%);
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 940px) {
    .container {
        width: 30%;
    }
    .flex-items {
        flex-direction: column;
    }
    .flex-items2 {
        margin-left: -15%;
    }
}
@media (max-width: 650px) {
    .container {
        width: 40%;
    }
}
@media (max-width: 550px){
    .container {
        width: 50%;
    }
}
@media (max-width: 450px) {
    .container {
        width: 60%;
    }
}
@media (max-width: 360px) {
    .container {
        width: 70%;
        min-width: 200px;
    }
}