* {
  margin: 0;
  box-sizing: border-box;
}
/* .light-theme {
  background-color: red;
} */
body {
  background-color: #ededf2;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 10vh;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #313237;
  border-bottom: 1px solid #ededf2;
}
.header-right {
  width: 30%;
}
.header-left {
  width: 50%;
}
ul {
  list-style-type: none;
}
header ul {
  display: flex;
  justify-content: space-around;
}
/* .content .categories {
  background-color: red;
  height: 5vh;
} */
.content .categories ul {
  display: flex;
}
.articles {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content {
  display: grid;
  grid-template-columns: 80% 20%;
  /* overflow-y: scroll; */
  height: 210vh;
}
.article {
  background-color: #ffffff;
  width: 49%;
  height: 16%;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  gap: 15px;
  padding-right: 10px;
  color: #313237;
}
.sidebar {
  display: flex;
  flex-direction: column;
  /* #718797 */
  background-color: #ffffff;
  height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
}
.footer {
  height: 10vh;
  background-color: #ffffff;
  border-top: 1px solid #ededf2;
}

.article img {
  height: 100%;
  width: 50%;
  border-radius: 5px;
}
.article .article-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
.article .article-details img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.article .author-details {
  display: flex;
  gap: 10px;
  align-items: center;
}
.article .author-name-time {
  display: flex;
  flex-direction: column;
}
.article-details h2 {
  font-size: 15px;
  color: #313237;
}
.article-details p {
  color: #718797;
  font-size: 13px;
}
.article-details .topic-name {
  background-color: hsl(0, 0%, 97%);
  width: fit-content;
  height: 15%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.sidebar .topics {
  background-color: #ededf2;
}
.sidebar .sidebar-item {
  height: fit-content;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
}
.topics .topic-item {
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px;
}
.php,
.article-details .php {
  background-color: #787cb5;
}
.js,
.article-details .js {
  background-color: #f0db4f;
}
.sidebar .tags {
  background-color: #ededf2;
}
.sidebar .tags .tag-item {
  background-color: #5374ff;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px;
}
.sidebar .head {
  margin: 0 auto;
  height: 2%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.sidebar .contact-me {
  background-color: #ededf2;
  width: 90%;
  margin: 0 auto;
  height: 15%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-me .contact-icons {
  display: flex;
  gap: 10px;
  align-self: center;
  /* margin-top: 20px; */
}
.sidebar .subscribe-form {
  width: 90%;
  background-color: #ededf2;
  margin: 10px auto;
  margin-top: 20px;
  height: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}
.subscribe-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subscribe-form form input {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}
.subscribe-form form button {
  height: 35px;
  border-radius: 20px;
  border: none;
  width: 60%;
  align-self: center;
  background-color: #5374ff;
  color: #ffffff;
  margin-top: 10px;
}
.sidebar .subscribe-sticky {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  position: sticky;
  top: 50px;
}
.subscribe-sticky .pagination {
  background-color: #ededf2;
  align-self: center;
  width: 90%;
  height: 10%;
  padding: 0 10px;
}
.pagination .bar .pages {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.pagination .bar .pages span {
  background-color: #ffffff;
  border-radius: 50%;
  width: 12%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .bar .pages .current {
  background-color: #5374ff;
}
